* {
	padding: 0 5px;
}
.container {
	width: 100%;
}

figure {
	margin: 10px 0;
	width: 50%;
}

img {
	height: auto;
	max-width: 100%;
	display: block
}

ol#roman {
	  list-style-type: lower-alpha;
}

h1, h2, h3, h4, h5, h6 {
	color: #019a0e;
}

p {
	line-height: 1.25;
}

#heading {
	border-bottom: 1px solid #ccc;
	text-shadow :0px -1px 6px #f50b0b;
	text-align: center;

}
#refer {
	color: #373788;
	font-weight: bold;
	font-size: -1;
}
.finish {
	text-transform:uppercase;

}